*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7f9;
    font-family: Arial, 'Poppins', sans-serif;
}

.register-container{ 
    width: 400px;
    background: white;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}