*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7f9;
    font-family: Arial, 'Poppins', sans-serif;
}

.register-container{ 
    width: 400px;
    background: white;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1 {
    text-align: center;
    color: #1b9c50;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #1b9c50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #15803d;
}

a {
    color: #1b9c50;
    text-decoration: none;
}